html {
	min-height: 101%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 0;
	border: 0;
}

div {
	margin: 0;
	border: 0;
}

img {
	width: 100%;
}

#bodytext {
	margin: auto;
	width: 50%;
}


#header a:link,
#header a:visited,
#header a:active {
	color: #000000;
	text-decoration: none;
}

#header a:hover {
	color: #777777;
	text-decoration: none;
}

#innertext a:link,
#innertext a:visited,
#innertext a:active {
	color: #0000BB;
	text-decoration: none;
}

#innertext a:hover {
	color: #777777;
	text-decoration: none;
}